@import 'base';
@import 'vendor/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0px;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
  
.list-button {
  background-color: white;
  border: none;
  border-bottom: thin solid #000;
  display: block;
  padding: 10px;
  text-align: left;
  width: 100%;
}

.list-button-selected {
  @extend .list-button;
  border-color: blue;
}
